<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZWPhotoBrowser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>381796F91CCF4FA9004F060F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381797121CCF4FA9004F060F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3817971D1CCF4FA9004F060F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
